* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #353535;
}

.content {
    width: 100%;
    max-width: 990px;
    padding: 0px 15px;
}